<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ActivitySearch"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityViewUsers"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityViewRecipe"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityAdminPanel"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityAddRecipe"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRecipe"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityAuthorization"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRegistration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMain"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>